{erl_opts, [
    [hipe,o3],
    {parse_transform, lager_transform}, 
    {lager_truncation_size, 4096}
]}.
{deps, [
    {cowboy,         ".*", {git, "https://github.com/extend/cowboy.git", "master"}},
    {lager,          ".*", {git, "https://github.com/basho/lager.git", "master"}},
    {erlson,         ".*", {git, "https://github.com/alavrik/erlson.git", "master"}},
    {mongodb,        ".*", {git, "https://github.com/mongodb/mongodb-erlang.git", "master"}},
    {rsrc_pool,      ".*"},
    {mysql_client,   ".*"}
]}.
